{% load static %}

{% include "app/header.html" %}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;padding: 14px 10px;">Design for Product</h1>
    <img style="width: 100%;padding: 5px 0px;" src="{% static "app/images/design6.jpg" %}" alt="">
    <img style="width: 100%;padding: 5px 0px;" src="{% static "app/images/design2.jpg" %}" alt="">
    <img style="width: 100%;padding: 5px 0px;" src="{% static "app/images/design5.jpg" %}" alt="">
    <img style="width: 100%;padding: 5px 0px;" src="{% static "app/images/design3.jpg" %}" alt="">
    <img style="width: 100%;padding: 5px 0px;" src="{% static "app/images/design4.jpg" %}" alt="">
    <img style="width: 100%;padding: 5px 0px;" src="{% static "app/images/design1.jpg" %}" alt="">

</body>
</html>

{% include "app/footer.html" %}