{% include "app/header.html" %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-Up</title>
    <link rel="stylesheet"  href="{% static "app/css/signup.css" %}" />
   
  
  </head>
  <body>
    <section class="log">
	
    <div class="container1">
       
      <div class="forms-container">
        <div class="left-sign">
            <div class="containt">
                <img src="{% static "app/images/logo.png" %}" alt="" class="logo2">
                <h1>Looks like you're <br> new here!</h1> <br>
                <p>
                    Shop create with your personal information <br> to get started
                </p>
                
            </div>
        </div>
        <div class="signin">
          <form id="fr1" method="POST" action="" class="sign-in-form">
                       {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
            {% endfor %}
            {% endif %}
			{% csrf_token %}

            <h2 class="title1">SHOP</h2>
            <div class="input-field1">
              <img src="{% static "app/images/user_img-removebg-preview.png" %}" alt="" height="75%" width="55%" style="padding-top: 0.8rem; padding-left: 0.2rem;">
              <input name="username" required type="text" placeholder="Username" class="input1" />
            </div>
            <div class="input-field1">
                <img src="{% static "app/images/cartimg.png" %}" alt=""  height="75%" width="55%" style="padding-top: 0.8rem; padding-left: 0.2rem;">
                <input type="text" required name="shopname" placeholder="Enter Shopname"  class="input2"/>
              </div>
            <div class="input-field1">
              <img src="{% static "app/images/craft1.jpg" %}" alt="" height="75%" width="55%" style="padding-top: 0.8rem; padding-left: 0.2rem;">
              <input type="text" required name="craftname" placeholder="Enter Craftname" class="input3"/>
            </div>
            <div class="input-field1">
              <img src="{% static "app/images/address2.png" %}" alt="" height="75%" width="55%" style="padding-top: 0.8rem; padding-left: 0.2rem;">
                <input type="text" required name="address" placeholder="Enter Address" class="input3"/>
              </div>
              <div class="input-field1">
                <img src="{% static "app/images/city1.png" %}" alt="" height="75%" width="55%" style="padding-top: 0.8rem; padding-left: 0.2rem;">
                  <input type="text" required name="city" placeholder="Enter city name" class="input3"/>
                </div>
            <div class="btn-box">
              <button type="submit"  id="but" name="submit" class="btn solid">Create</button>
            </div>
            <h5 class="h5">
                Alredy have an Account <a href="/">Home </a></h5>
           
            </div>
          </form>
		  
		</div>
	</div>
	
</div>
</section>


{% include "app/footer.html" %}
  </body>
</html>


