{% load static %}
{% include "app/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="{% static "app/css/forget.css" %}">

</head>
<body>
    
<section style="width: 50%;margin: 6rem 26rem;height: 30rem;border: 2px solid grey;padding: 1rem 2rem;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;background-color: aliceblue;">
  <img src="{% static "app/images/logo.png" %}" style="height: 66px;width: 136px;margin: 0px 270px;" alt="Logo">
    

<div id="content" class="colM">
          
    <h1 style="text-align: center;color: darkorchid;padding: 6px;">Password change</h1>
    
    <div id="content-main">

<form method="post" action="">
    {% csrf_token %}
<input type="hidden" name="csrf_token" value="LMsBm5QWiahV0GktOGSWo8CxKpJqNHZfSopRZDedMgdOD0QqseQZh4PVDbOuroUj">
<div>



<p style="text-align:center;">Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<fieldset class="module aligned wide" style="border:none;">

<div class="form-row">

<div class="flex-container" style="margin: 12px 176px;display: flex;"><label for="id_old_password">Old password:</label> 
  <input style="margin-left: 10px;height: 30px;width: 201px;border-radius: 17px;padding-left: 10px;margin-top: -9px;" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password"></div>
</div>

<div class="form-row">

<div class="flex-container" style="margin: 12px 176px;display: flex;"><label for="id_new_password1">New password:</label> 
  <input style="margin-left: 10px;height: 30px;width: 201px;border-radius: 17px;padding-left: 10px;margin-top: -3px;" type="password" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1"></div>

<div class="help" id="id_new_password1_helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></div>

</div>

<div class="form-row">

<div class="flex-container" style="margin: 12px 75px;display: flex;"><label for="id_new_password2" style="width:14rem;">New password confirmation:</label> 
  <input style="margin-left: 10px;height: 30px;width: 201px;border-radius: 17px;padding-left: 10px;margin-top: -3px;" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"></div>

</div>

</fieldset>

<div class="submit-row">
<input type="submit" value="Change my password" class="default" style="margin: 15px 236px;background-color: orange;height: 29px;width: 170px;border-radius: 17px;">
</div>

</div>
</form></div>


    
    <br class="clear">
  </div>
</section>

</body>
</html>
  {% include "app/footer.html" %}