{% load static %}
{% include 'app/header.html' %}

{% block title %}{% endblock %}

{% block content %}
<section style="width: 50%;margin: 6rem 26rem;text-align: center;height: 18rem;border: 2px solid grey;padding: 7rem 1rem;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;background-color: aliceblue;">
   <img src="{% static "app/images/logo.png" %}" style="height: 66px;width: 136px;margin-top: -43px;" alt="Logo">
      
   <h1>Password reset complete</h1>
    <p>Your new password has been set. You can log in now on the <a href=" {% url 'login' %}">log in page</a>.</p>    

</section>
{% endblock %}