{% include 'app/header.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="{% static "app/css/forget.css" %}">
</head>
<body>
  <div class="container1">
    <div class="logo4">
        <img src="{% static "app/images/logo.png" %}" alt="Logo">
      </div>
    <h2>Forgot your password?</h2>
    <h4>Enter your email address below, and we'll email instructions for setting a new one.</h4>
    <form   method="POST" class="forgot-password-form" action="">
      {% csrf_token %}
      <input type="hidden" name="csrf_token" value="j8UK5M9LXN9tQ6NuaxRTf3BtJSh2U9GjzT631IpVWGbh64Who1yIX0VHi2hVnUh3">
     <p>
      <div class="form-group">
        <label for="id_email">Email:</label>
        <input type="email" id="email" class="email" name="email" placeholder="Enter your email" required>
      </div>
     </p>
     <button type="submit"  id="but" name="submit" id="forget2" class="btn solid">Reset Button </button>

    </form>
    <h4 class="h4"> Back to   
        <a href="/login" class=""> login ? </a>
     </h4>
    </br>
    <h4 class="h4"> I don't have an account  
        <a href="/register" class=""> sign up ? </a>
     </h4>
  </div>
</body>
</html>


{% endblock %}


{% include 'app/footer.html' %}
