{% include "app/header.html" %}

{% block title %}{% endblock %}

{% block content %}
<section style="width: 50%;margin: 6rem 26rem;height: 18rem;border: 2px solid grey;padding: 2rem 1rem;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;background-color:aliceblue;">
  
{% if validlink %}
<h1 style="margin: 0px 15rem;">Set a new password!</h1>
{% comment %} <form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form> {% endcomment %}
<form method="POST" style="padding: 21px 74px;" action="">
  {% csrf_token %}
  <input type="hidden" name="csrf_token" value="WX6m9TOQYzYzcFgdFqKmZSS7TJLor5kMcIiF5P40Xs0nsDp0TUrbHPclsTLhUQVw">
  <p style="margin: 10px 15px;">
    <label for="id_new_password1">New password:</label>
    <input type="password" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1" style="height: 2rem;width: 17rem;border-radius: 10px;">
  </p>

  <p style="margin: 10px 15px;">
    <label for="id_new_password2">New password confirmation:</label>
    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" style="height: 2rem;width: 17rem;border-radius: 10px;">
</p>
  <input type="submit" value="Change my password" style="margin: 1rem 11rem;height: 2rem;width: 11rem;border-radius: 9px;">
</form>{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}

</section>
{% endblock %}


{% include "app/footer.html" %}
